
.innerBurnDiv, .innerBurnDiv2 {
  width:80%;
  border-radius:.5em;
  color:whitesmoke;
  margin:auto;
  margin-top:3%;
  padding:1% 2% 1% 2%;
  border: 3px solid #21355f;
  background:#181a34;
}
.innerAddDiv {
  width:90%;
  padding:1%;
  border: 3px solid #21355f;
  background:#181a34;
  margin:auto;
  margin-top:3%;
  border-radius:.5em;
}
.innerBurnDiv2 {
  margin-top: 2%
}
.subBurnDiv {
  display:grid;
  grid-template-columns:1fr 1fr;
  margin:auto;
  margin-top:2%;
  width:95%;
}
.innerSubDiv {
  margin:auto;
  border-radius:.5em;
  width:90%;
  padding:1% 2% 0 2%;
  border: 3px solid #21355f;
  background:#181a34;
}
.burnTitle {
  font-size:1.05rem;
  color:white;
  font-weight: 500;
}
.burnNumber {
  font-size:1.7rem;
  color: #efdc91;
  text-shadow: 0 0 0.7rem #e8820e;
  color:lightgoldenrodyellow;
  text-shadow: 0px 0px 3px;
}
.supply {
  font-size:2.2rem
}
.addBurn {
  font-size:1.7rem;
  color:white;
  text-shadow: none;
}
.addressP {
  word-wrap: break-word;
  color:#6b738a;
}
.addressDiv {
  width:90%;
  margin: auto;
}
@media only screen and (min-width:450px) {
  .burnTitle {
    font-size:1.25rem;
  }
  .burnNumber {
    font-size:2.2rem;
  }
  .subBurnDiv {
    margin-top:1%;
  }
}
@media only screen and (min-width:575px) {
  .innerBurnDiv2 {
    margin-top: 1%
  }
}
@media only screen and (min-width:768px) {
  .innerBurnDiv2 {
    margin-top: 1%;
    width: 60%;
  }
  .addressP {
    font-size:1.3rem;
    width:80%;
    margin: auto;
    margin-bottom: 2%;
  }
  .addBurn {
    font-size:1.85rem;
  }
  .innerBurnDiv {
    width:60%;
  }
  .burnNumber {
    font-size:2.25rem;
  }
  .burnTitle {
    font-size:1.25rem;
  }
}
@media only screen and (min-width:768px) and (min-height:1000px) {

}

@media only screen and (min-width:968px) {
  .innerSubDiv {
    padding:.5%;
  }
  .innerBurnDiv {
    padding:.2%;
    width:50%;
    margin-top:0;
  }
  .addressDiv {
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-top:1%;
  }

  .subBurnDiv {
    margin-top:.5%;
  }
  .innerBurnDiv2 {
    margin-top: 1%;
    width: 90%;
  }
  .subBurnDiv {
    column-gap:20px;
  }
  .burnTitle {
    font-size:1.75rem;
  }
  .burnNumber {
    font-size:2.35rem;
  }
}

@media only screen and (min-width:1160px) {
  .innerSubDiv {
    padding:.2%;
  }
  .innerBurnDiv {
    padding:.05%;
  }
}
@media only screen and (min-width:1375px) {

}
