
.innerBurnDiv, .innerBurnDiv2 {
  width:80%;
  border-radius:.5em;
  color:rgba(199,202,231,1);
  margin:auto;
  margin-top:3%;
  padding:1% 2% 1% 2%;
  border: 3px solid #21355f;
  background:#181a34;
  background: rgb(24,26,52);
  background: linear-gradient(90deg, rgba(24,26,52,1) 0%, rgba(23,28,91,1) 47%, rgba(8,13,71,1) 100%);
}
.innerAddDiv {
  width:90%;
  padding:1%;
  border: 3px solid #21355f;
  background:#181a34;
  background: rgb(24,26,52);
  background: linear-gradient(90deg, rgba(24,26,52,1) 0%, rgba(23,28,91,1) 47%, rgba(8,13,71,1) 100%);
  margin:auto;
  margin-top:3%;
  border-radius:.5em;
}
.innerBurnDiv2 {
  margin-top: 2%
}
.subBurnDiv {
  display:grid;
  grid-template-columns:1fr 1fr;
  margin:auto;
  margin-top:2%;
  width:95%;
  column-gap: 20px;
}
.innerSubDiv {
  margin:auto;
  border-radius:.5em;
  width:90%;
  padding:1% 2% 0 2%;
  border: 3px solid #21355f;
  background:#181a34;
  background: rgb(24,26,52);
  background: linear-gradient(90deg, rgba(24,26,52,1) 0%, rgba(23,28,91,1) 47%, rgba(8,13,71,1) 100%);
}
.burnTitle {
  font-size:1.0rem;
  color:rgba(199,202,231,1);
  font-weight: 500;
}
.burnNumber {
  /* opacity: .85; */
  font-size:1.7rem;
  color: #efdc91;
  text-shadow: 0 0 0.7rem #e8820e;
  color:lightgoldenrodyellow;
  text-shadow: 0px 0px 3px;
}
.decimals {
  font-size:1.45rem;
}
.supply {
  font-size:2rem;
}
.addBurn {
  font-size:1.7rem;
  color:rgba(199,202,231,1);
  text-shadow: none;
}
.addressP {
  word-wrap: break-word;
  color:#6b738a;
}
.addressDiv {
  width:90%;
  margin: auto;
}
@media only screen and (min-width:450px) {
  .burnTitle {
    font-size:1.25rem;
  }
  .burnNumber {
    font-size:2.2rem;
  }
  .decimals {
    font-size:1.75rem;
  }
  .subBurnDiv {
    margin-top:1%;
  }
}
@media only screen and (min-width:359px) and (min-height:639px) {
  .burnTitle {
    font-size:1.15rem;
  }
  .burnNumber {
    font-size:1.9rem;
  }
  .supply {
    font-size:2.25rem;
  }
  .innerSubDiv {
    padding:3%;
  }
  .addressDiv {
    margin-top: 10%;
  }
}
@media only screen and (min-width:575px) {
  .innerBurnDiv2 {
    margin-top: 1%
  }
}
@media only screen and (min-width:374px) and (min-height:800px) {
  .burnTitle {
    font-size:1.2rem;
  }
  .innerSubDiv {
    padding:5.5%;
  }
  .burnNumber {
    font-size:2rem;
  }
  .supply {
    font-size:2.5rem;
  }
  .subBurnDiv {
    margin-top: 3.5%;
  }
}
@media only screen and (min-width:768px) {
  .innerBurnDiv2 {
    margin-top: 1%;
    width: 60%;
  }
  .addressP {
    font-size:1.3rem;
    width:80%;
    margin: auto;
    margin-bottom: 2%;
  }
  .addBurn {
    font-size:1.85rem;
  }
  .innerBurnDiv {
    width:60%;
  }
  .burnNumber {
    font-size:2.25rem;
  }
  .decimals {
    font-size:1.8rem;
  }
  .burnTitle {
    font-size:1.25rem;
  }
}
@media only screen and (min-width:760px) and (min-height:1020px) {
  .burnTitle {
    font-size:1.95rem;
  }
  .burnNumber {
    font-size:2.5rem;
  }
  .decimals {
    font-size:1.95rem;
  }
  .supply {
    font-size:2.75rem;
  }
  .innerSubDiv {
    padding:5%;
  }
  .subBurnDiv {
    margin-top:3%;
  }
  .innerBurnDiv {
    padding:3%;
  }
  .addressDiv {
    margin-top:5%;
  }
  .addressP {
    font-size:1.7rem;
  }
  .addBurn{
    font-size: 2.5rem;
  }
  .addressLink {
    font-size: 2.05rem;
  }
}

@media only screen and (min-width:968px) {
  .innerSubDiv {
    padding:.5%;
  }
  .innerBurnDiv {
    padding:.2%;
    width:50%;
    margin-top:1%;
  }
  .innerAddDiv {
    width:60%;
  }
  .subBurnDiv {
    margin-top:.5%;
  }
  .innerBurnDiv2 {
    margin-top: 1%;
    width: 90%;
  }
  .subBurnDiv {
    column-gap:20px;
  }
  .burnTitle {
    font-size:1.75rem;
  }
  .burnNumber {
    font-size:2.35rem;
  }
  .decimals {
    font-size:1.9rem;
  }
}
@media only screen and (min-width:1060px) {

}
@media only screen and (min-width:1000px) and (min-height:1330px) {
  .burnTitle {
    font-size:2.5rem;
  }
  .burnNumber {
    font-size:3rem;
  }
  .decimals {
    font-size:2.15rem;
  }
  .supply {
    font-size:3.5rem;
  }
  .innerSubDiv {
    padding:5%;
  }
  .subBurnDiv {
    margin-top:3%;
    column-gap: 20px;
  }
  .innerBurnDiv {
    padding:3%;
  }
  .addressDiv {
    margin-top:10%;
    width:100%;
  }
  .addressP {
    font-size:2rem;
  }
  .addBurn{
    font-size: 2.85rem;
  }
  .addressLink {
    font-size: 2.25rem;
  }
}
@media only screen and (min-width:1160px) {
  .innerAddDiv {
    width:80%;
  }
  .addressDiv {
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-top:1%;
   }
  .innerSubDiv {
    padding:.2%;
  }
  .innerBurnDiv {
    padding:.05%;
  }
  .addressLink {
    font-size: 1.35rem;
  }
}
@media only screen and (min-width:1300px) {
  .burnNumber {
    font-size:2.05rem;
  }
  .supply {
    font-size:2.45rem;
  }
  .burnTitle {
    font-size:1.75rem;
  }

}
