.cpButton {
  background: #dcddef;
  background: rgb(199,202,231);
  background: linear-gradient(90deg, rgba(199,202,231,1) 0%, rgba(183,186,212,1) 47%, rgba(198,202,249,1) 100%);
  padding: 1% 2%;
  border-radius: .5rem;
  border:1px;
  border: #6267b7 1px solid;
  cursor: pointer;
}
.cpButton:hover {
  border:#dcddef 1px solid;
  background: #181a34;
  background: rgb(24,26,52);
  background: linear-gradient(90deg, rgba(24,26,52,1) 0%, rgba(23,28,91,1) 47%, rgba(8,13,71,1) 100%);
  color:#dcddef;
}
.copied {
  margin-left: 2%;
}
