
.outmostDiv {
  margin-bottom:5%;
}
.outerDeep {
  width:80%;
  max-height:450px;
  overflow: scroll;
  margin:auto;
  margin-top:8%;
  background: #dcddef;
  background: rgb(199,202,231);
  background: linear-gradient(90deg, rgba(199,202,231,1) 0%, rgba(183,186,212,1) 47%, rgba(198,202,249,1) 100%);
  color:rgba(199,202,231,1);
  padding-bottom:3%;
}
.deepBurnDiv {
  padding:1%;
  background:#181a34;
  background: rgb(24,26,52);
  background: linear-gradient(90deg, rgba(24,26,52,1) 0%, rgba(70,77,154,1) 47%, rgba(8,13,71,1) 100%);
  border-radius: .5rem;
  margin:auto;
  margin-top:5%;
  width:90%;
}
.deepBurnP {
  cursor:pointer;
  text-decoration: underline;
}
.moreButton {
  margin:2% 0%;
  font-size:1.5rem;
  text-shadow: none;
  background: #dcddef;
  background: rgb(199,202,231);
  background: linear-gradient(90deg, rgba(199,202,231,1) 0%, rgba(183,186,212,1) 47%, rgba(198,202,249,1) 100%);
  padding:1% 2%;
  border-radius: .5rem;
  border: #6267b7 1px solid;
  color:#181a34;
  text-decoration: none;
  cursor: pointer;
  word-wrap: none;
  transition: .3s;
  width:50%;
}
.moreButton:hover {
  border:#dcddef 1px solid;
  background: #181a34;
  background: rgb(24,26,52);
  background: linear-gradient(90deg, rgba(24,26,52,1) 0%, rgba(23,28,91,1) 47%, rgba(8,13,71,1) 100%);
  color:#dcddef;
}
.burnHeader {
  color:#282b57;
}
.burnSpan {
  text-shadow: 0 0 0.7rem #e8820e;
  color:aliceblue;
}
.dbt {
  font-size:1.25rem;
}
.dbv {
  font-size: 1.7rem;
}
.buttonDiv {
  margin-bottom:3%;
}

.dbto, .dbh {
  word-wrap: break-word;
}
.togButton {
  padding:1% 2%;
  width:25%;
  border-radius:.5rem;
  color:whitesmoke;
  border:1px solid whitesmoke;
  cursor:pointer;
  font-size:.95rem;
  background:rgba(70,77,154,1);
  transition:.3s;
}
.togButton:hover {
  color:rgba(70,77,154,1);
  border:1px solid rgba(70,77,154,1);
  background:whitesmoke;
}
.toggleP {
  color:#282b57;
  text-decoration: underline;
  cursor:pointer;
  font-size: 1.4rem;
  font-weight:550;
  margin-bottom: 6%;
}

@media only screen and (min-width:768px) {
  .outerDeep {
    width:65%;
    max-height:480px;
  }
}
@media only screen and (min-width:928px) {
  .outerDeep {
    max-height:520px;
  }
}
/* @media only screen and (min-width:1128px) {
  .outerDeep {
    max-height:650px;
  }
} */
