
.deepBurnP {
  cursor:pointer;
  text-decoration: underline;
}
.moreButton {
  margin-top:5%;
  font-size:1.1rem;
  text-shadow: none;
  background: #dcddef;
  background: rgb(199,202,231);
  background: linear-gradient(90deg, rgba(199,202,231,1) 0%, rgba(183,186,212,1) 47%, rgba(198,202,249,1) 100%);
  padding:2%;
  border-radius: .5rem;
  border: #6267b7 1px solid;
  color:#181a34;
  text-decoration: none;
  cursor: pointer;
  word-wrap: none;
  transition: .3s;
}
.moreButton:hover {
  border:#dcddef 1px solid;
  background: #181a34;
  background: rgb(24,26,52);
  background: linear-gradient(90deg, rgba(24,26,52,1) 0%, rgba(23,28,91,1) 47%, rgba(8,13,71,1) 100%);
  color:#dcddef;
}
