.footOuterDiv {
  width:80%;
  color:white;
  margin: auto;
  margin-top:10%;
}
.footStyle {
  width:80%;
  border-radius:.5em;
  color:whitesmoke;
  margin:auto;
  margin-top:3%;
  padding:3%;
  border: 3px solid #21355f;
  background:#181a34;
  background: rgb(24,26,52);
  background: linear-gradient(90deg, rgba(24,26,52,1) 0%, rgba(23,28,91,1) 47%, rgba(8,13,71,1) 100%);
}
.swapshipDiv {
  margin-top: 10%;
}
.info {
  font-size: 1.35rem;
}
.attLink {
  font-size:1.2rem;
  word-wrap:break-word;
}
.donP {
  color: whitesmoke;
  font-size:1.4rem;
}
.footDiv {
  margin-top: 12%;
}

.innerFootDiv{
  margin-bottom: 5%;
}
@media only screen and (min-width:760px) {
  .innerFootDiv{
    margin-bottom: 2.5%;
  }
}
@media only screen and (min-width:760px) and (min-height:1020px) {
  .attLink {
    font-size:2rem;
  }
  .donP {
    font-size:2.2rem;
  }
  .info {
    font-size: 2.2rem;
  }
  .cp {
    font-size:1.8rem;
  }
  .footOuterDiv {
    width:100%;
  }
  .footStyle {
    width:70%;
  }
}

@media only screen and (min-width:968px) {
  .innerFootDiv{
    margin-bottom: 1%;
  }
  .footStyle {
    width:70%;
  }
  .info{
    font-size:1.6rem;
  }
}
@media only screen and (min-width:1000px) and (min-height:1330px) {
  .info {
    font-size:2.5rem;
  }
  .attLink{
    font-size:2.35rem;
  }
  .donP {
    font-size:2.5rem;
  }
  .cp {
    font-size:2rem;
  }
}
