.headDiv {
  padding:5%;
  color:#dcdeef;
  text-shadow: 0px 0px 2px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.logo {
  width:65%;
  height:auto;
  margin:auto;
}
.title {
  margin-top:10%;
  font-size:2rem;
  color:whitesmoke;
}
@media only screen and (min-width:450px) {
  .logo {
    width:50%;
  }
  .title {
    font-size:2.25rem;
  }
  .headDiv {
    padding:1%
  }
}
@media only screen and (min-width:768px) {
  .logo {
    width:40%;
  }
}
@media only screen and (min-width:908px) {
  .title {
    margin-top:6%;
    font-size:2.4rem;
  }
}
@media only screen and (min-width:1068px) {
  .headDiv {
    padding:2% 2% 0 1%;
  }
  .logo {
    width:35%;
  }
}
